* {
    margin: 0;
    padding: 0;
}

html, 
body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* HEADER START */
.header {
    background-color: #1f2937;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-link {
    margin: 10px;
    font-size: 18px;
    color: #E5E7EB;
}

.navbar {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    list-style: none;
    flex-direction: row;
}

.navbar-left,
.navbar-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    
}

.header-content {
    margin: 50px;
    display: flex;
    flex-direction: row;
    
}

.content-right {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.content-left {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.header-img {
    width: 300px;
}


.header-p {
    font-size: 18px;
    color: #E5E7EB;
    align-items: center;
}

.header-btn {
    width: 80px;
    height: 35px;
    color: #F9FAF8;
    border: #3b82f6;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #3b82f6;
}

/* HEADER END */

/* INFO START */


.info h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.photo-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

.info p {
    text-align: center;
}