* {
    margin: 0;
    padding: 0;
}

html, 
body {
    width: 100%;
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER START */
.header {
    background-color: #1f2937;
    margin-bottom: 40px;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-link {
    margin: 10px;
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.navbar {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    list-style: none;
    flex-direction: row;
}

.navbar-left,
.navbar-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    
}

.header-content {
    margin: 50px;
    display: flex;
    flex-direction: row;
    
}

.content-right {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.content-left {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.header-img {
    width: 300px;
}


.header-p {
    font-size: 18px;
    margin-top: 10px;
    color: #E5E7EB;
    align-items: center;
    
}

.header-btn {
    width: 80px;
    height: 35px;
    margin-top: 20px;
    color: #F9FAF8;
    border: #3b82f6;
    font-weight: bold;
    border-radius: 10px;
    background-color: #3b82f6;
}
/* HEADER END */

/* INFO START */
.info h1 {
    display: flex;
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
    margin-bottom: 30px;
    justify-content: center;
}

.photo-grid {
    gap: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

.info p {
    display: flex;
    color: #1f2937;
    text-align: center;
    margin-bottom: 150px;
    justify-content: center;
}
/* INFO END*/

/* QUOTE SECTION START */
.quote-section {
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
}

.quote-section h3 {
    font-size: 30px;
    font-weight: 100;
    color: #424242;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-style: italic;
}

.quote-section p {
    display: flex;
    font-size: 18px;
    color: #363636;
    margin-top: 10px;
    margin-right: 80px;
    font-weight: bolder;
    justify-content: flex-end;
}
/* QUOTE SECTION END */

/* CALL TO ACTION SECTION END */
.call-to-action {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.blue-container {
    width: 80%;
    height: 80px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: #3b82f6;
}

.left {
    width: 80%;
    display: flex;
    margin-left: 110px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

h4 {
    font-size: 24px;
    color: #F9FAF8;
    
}

.last-p {
    padding: 10px;
    font-size: 18px;
    color: #E5E7EB;
}

.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.last-btn {
    width: 100px;
    height: 40px;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #E5E7EB;
    background-color: #3b82f6;
}
/* CALL TO ACTION SECTION END */

/* FOOTER SECTION START */
.footer {
    height: 50px;
    display: flex;
    color: #F9FAF8;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
}
/* FOOTER SECTION END */

